.Slider {
    position: relative;
    width: 500px;
    height: 20px;

    border: 1px solid lightgrey;
    
    .thumb {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background:$control;
    }
}
